---
services:
  gateway:
    image: inductiveautomation/ignition:8.3.0-rc1
    volumes:
      - ./services/ignition/config:/usr/local/bin/ignition/data/config 
      - ./services/ignition/projects:/usr/local/bin/ignition/data/projects
      - ./shared/gateway-utilities/projects/gateway-utilities:/usr/local/bin/ignition/data/projects/gateway-utilities

      # Temporary volume to skip commissioning
      - ./services/ignition/commissioning.json:/usr/local/bin/ignition/data/commissioning.json
    environment:
      IGNITION_EDITION: "standard"
      DISABLE_QUICKSTART: "true"
      ACCEPT_IGNITION_EULA: "Y"
      GATEWAY_MODULES_ENABLED: |
        com.inductiveautomation.eventstream,
        com.inductiveautomation.historian,
        com.inductiveautomation.perspective,
        com.inductiveautomation.jdbc.postgresql,
        com.inductiveautomation.webdev,
        com.inductiveautomation.opcua
    command: >
      -n ignition83
      --
      -Dignition.config.mode=local-dev

    labels:
      traefik.enable: "true"
      traefik.hostname: "ignition83"
    networks:
      - default
      - proxy

  database:
    image: postgres
    hostname: postgres
    volumes:
      - ./services/postgres/init-sql:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: P@ssword1!
      POSTGRES_USER: postgres
    
  liquibase:
    image: liquibase/liquibase
    depends_on:
      - database
    volumes:
      - ./services/postgres:/database
      - ./scripts/wait-for-it.sh:/wait-for-it.sh
    entrypoint: ["/wait-for-it.sh", "postgres:5432", "--", "liquibase", "--defaultsFile=/database/liquibase/liquibase.docker.properties", "update"]
  
  # Uncomment the following lines to enable pgAdmin for database management
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    volumes:
      - ./services/pgadmin/servers.json:/pgadmin4/servers.json
    labels:
      traefik.enable: "true"
      traefik.hostname: "postgres-pgadmin"
    networks:
      - default
      - proxy
  broker:
    image: inductiveautomation/ignition:latest
    volumes:
      - ./services/ignition/broker/config:/usr/local/bin/ignition/data/config 
      - ./services/ignition/broker/projects:/usr/local/bin/ignition/data/projects
      - ./services/ignition/third-party-modules/MQTT-Distributor.modl:/usr/local/bin/ignition/user-lib/modules/MQTT-Distributor.modl

      # Temporary volume to skip commissioning
      - ./services/ignition/broker/commissioning.json:/usr/local/bin/ignition/data/commissioning.json
    environment:
      IGNITION_EDITION: "standard"
      DISABLE_QUICKSTART: "true"
      ACCEPT_IGNITION_EULA: "Y"
      ACCEPT_MODULE_LICENSES: com.cirruslink.mqtt.distributor.gateway
      ACCEPT_MODULE_CERTS: com.cirruslink.mqtt.distributor.gateway
    command: >
      -n broker

    labels:
      traefik.enable: "true"
      traefik.hostname: "broker"
    networks:
      - default
      - proxy

  publisher:
    image: inductiveautomation/ignition:latest
    volumes:
      - ./services/ignition/publisher/config:/usr/local/bin/ignition/data/config
      - ./services/ignition/publisher/projects:/usr/local/bin/ignition/data/projects
      - ./services/ignition/third-party-modules/MQTT-Transmission.modl:/usr/local/bin/ignition/user-lib/modules/MQTT-Transmission.modl
      # Temporary volume to skip commissioning
      - ./services/ignition/publisher/commissioning.json:/usr/local/bin/ignition/data/commissioning.json
    environment:
      IGNITION_EDITION: "standard"
      DISABLE_QUICKSTART: "true"
      ACCEPT_IGNITION_EULA: "Y"
      ACCEPT_MODULE_LICENSES: com.cirruslink.mqtt.transmission.gateway
      ACCEPT_MODULE_CERTS: com.cirruslink.mqtt.transmission.gateway
    command: >
      -n publisher
    labels:
      traefik.enable: "true"
      traefik.hostname: "publisher"
    networks:
      - default
      - proxy

  subscriber:
    image: inductiveautomation/ignition:latest
    volumes:
      - ./services/ignition/subscriber/config:/usr/local/bin/ignition/data/config
      - ./services/ignition/subscriber/projects:/usr/local/bin/ignition/data/projects
      - ./services/ignition/third-party-modules/MQTT-Engine.modl:/usr/local/bin/ignition/user-lib/modules/MQTT-Engine.modl
      # Temporary volume to skip commissioning
      - ./services/ignition/subscriber/commissioning.json:/usr/local/bin/ignition/data/commissioning.json
    environment:
      IGNITION_EDITION: "standard"
      DISABLE_QUICKSTART: "true"
      ACCEPT_IGNITION_EULA: "Y"
      ACCEPT_MODULE_LICENSES: com.cirruslink.mqtt.engine.gateway
      ACCEPT_MODULE_CERTS: com.cirruslink.mqtt.engine.gateway
    command: >
      -n subscriber
    labels:
      traefik.enable: "true"
      traefik.hostname: "subscriber"
    networks:
      - default
      - proxy

networks:
  default:
  proxy:
    external: true
    name: proxy
